/* 

    如果你的元素要参照背景图片来放它的位置，那么就应该背景图片怎么布局，你就怎么布局

    意思是：如果背景图片水平居中，你也要保证水平居中
           如果背景图片底部对齐，你也要保证底部对齐

           这样才能保证不管屏幕大小怎么变化，你永远都在图片对应的某个位置上
*/
.section1 {
  background: url('../images/01/bg.png') center bottom no-repeat;

}
.section1 .sofa{
    position: absolute;
    left: 50%;
    margin-left: -180px;
    bottom: 0;
    margin-bottom: 350px;
    animation: shake .8s alternate infinite;
}
.section1 .ball{
    position: absolute;
    left: 50%;
    margin-left: 80px;
    bottom: 0;
    margin-bottom: 550px;
    animation: shake 1s alternate infinite;
}
.section1 .products{
    position: absolute;
    left: 50%;
    margin-left: -380px;
    bottom: 0;
    margin-bottom: 100px;
}
@keyframes shake{
    from{}
    to{
        transform: translateY(-60px)
    }
}
/* 第二屏 */
.section2 {
    background: url('../images/02/bg.png') center bottom no-repeat;
}

.section2 .search01{

    position: absolute;
    left:50%;
    /* margin-left: -111px; */
    bottom: 0;
    margin-bottom: 300px;

    /* 到时候用动画效果移动到-111来 */
    margin-left: 400px;
}


.section2 .search02{

    position: absolute;
    left:50%;
    margin-left: -111px;
    bottom: 0;
    margin-bottom: 300px;
    display: none;
}


.section2 .sofas{
    position: absolute;
    /* right定位，那么就只能用margin-right，left用margin-left */
    right: 50%;
    margin-right: -222.5px;

    bottom: 0;
    margin-bottom: 213px;
    width:0;
}
.section3 {
    background: url('../images/03/bg.png') center center no-repeat;
}
.section3 .sofa{
    background:url('../images/03/sofa.png');
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -240px;
    margin-top: -120px
}
.section3 .color{
    width: 296px;
    height: 131px;
    background:url('../images/03/color01.gif');
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: 40px;
    margin-top: -30px
}
.section3 .add{
    width: 218px;
    height: 58px;
    background:url('../images/03/add01.gif');
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: 40px;
    margin-top: 100px

}
.section3.animation .color{
    transition: all 1s;
    background:url('../images/03/color02.gif');
}
.section3.animation .add{
    transition: all .5s;
    background:url('../images/03/add02.gif');
}
.section4>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section4{
    background:url('../images/04/bg.png') center bottom no-repeat; 
}
.cloud{
    position: absolute;
    top: 0;
    left: 1300px;
    animation: cloud 15s linear infinite ;
}
@keyframes cloud{
    from{}
    to{
   transform: translateX(-2200px)
    }
}
.keyboard {
    margin-top: 100px;
    width: 283px;
    height: 270px;
    background: url('../images/04/keyboard.png');
    position: relative;
    opacity: 0;
    
}
.address{
    position: absolute;
    top: 60px;
    left: 60px;
}
.section4 .car{
  width: 407px;
  height: 346px;
  position: absolute;
  bottom: 50px;
}
.car .sofa{
    position: absolute;
    top: -30px;
    left: 140px;
}
.car .cars{
    position: absolute;
    
}
.section5 {
    background: url('../images/05/bg.png') repeat;
    perspective: 1200px;
}
.cardBox{
    width: 258px;
    height: 221px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -100px;
}
.section5 .bill{
  position: absolute;
  left: 150px;

}
.section5 .card{
    position: absolute;
}
.section5 .mouse{
    width: 205px;
    height: 400px;
    background: url('../images/05/mouse01.png') center bottom no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 400px;
    margin-top: -350px;
}
.section5 .hand{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 380px;
    margin-top: -50px; 
}
.section5 .words{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 200px;
    margin-top: -320px; 
    opacity: 0;

}
.section5.animation .hand {
    transform: translateY(-30px);
    transition: all 1s ;
}
.section5.animation .mouse{
    transition: all 1s 1s;
    background: url('../images/05/mouse02.png') center bottom no-repeat; 
}


.section5.animation .bill{
    transform: translateY(-130px);
    transition: all 1s 2s;
}
.section5.animation .words{
    transition: all 1s 3s;
    opacity: 1;
    transform: rotateY(360deg) scale(1.3)
}
.street{
    width: 100%;
    height: 100%;
    background: url('../images/06/bg.png') -200px bottom repeat-x;
    position: relative;
}
.street .bigBox{
  position: absolute;
  bottom: 80px;
  left: 500px;;
}
